<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UrlCharCounting · Phoenix Framework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Url Characters Counting</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= form_for @conn, Routes.page_path(@conn, :index), [method: :get, class: "pull-right"], fn f -> %>
            <%= search_input f, :query, placeholder: "Search URL", required: true %>
            <%= submit "Search" %>
          <% end %>
        </div>
      </div>
      <%= @inner_content %>
    </div>
  </body>
</html>
